.container {
  display: flex;
  align-items: flex-start;
  gap: 20px; /* Расстояние между доской и дебаг-таблицей */
}

.board-wrapper {
  flex-grow: 50%;
  display: flex;
  flex-direction: column; /* Ставим элементы в колонку */
  align-items: center; /* Центрируем доску и InfoPanel */
  gap: 10px; /* Расстояние между доской и InfoPanel */
}

.checkerboard {
  border-collapse: collapse;
  border: 2px solid black;
  flex-shrink: 0; /* Чтобы доска не сжималась */

  width: min(70vh, 70vw); /* Делаем доску квадратной */
  height: min(70vh, 70vw);
}

.cell {
  width: 12.5%; /* 100% / 8 клеток */
  height: 12.5%;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;

  /* position: relative; */
  cursor: pointer;
}

.checkerPiece {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Увеличиваем размер символа */
  transition: transform 0.3s ease;
}

.pulsing {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Styling for black cells */
.black {
  background-color: #0a9754;
  color: white;
  position: relative;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center; */
}

/* Styling for white cells */
.white {
  background-color: #fde9ad;
  color: black;
}

.cellLabel {
  font-size: 8px;
  position: absolute;
  top: 1px;
  left: 5px;
}

.debug {
  flex-grow: 1; /* Чтобы отладка занимала оставшееся пространство */
}

.king {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
}
