/* Style for the table
/* .boardTable {
  border-collapse: collapse;
  margin: 20px auto;
} */

/* Style for the table cells */
/* .tableCell {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}; */

/* Style for the even rows */
/* .tableRow:nth-child(even) .tableCell:nth-child(odd),
.tableRow:nth-child(odd) .tableCell:nth-child(even) {
  background-color: #333; 
  color: #fff; 
} */

/* Style for the odd rows */
/* .tableRow:nth-child(odd) .tableCell:nth-child(odd),
.tableRow:nth-child(even) .tableCell:nth-child(even) {
  background-color: #fff; 
  color: #000; 
} */


/* CheckerBoard.module.css */
.checkerboard {
  border-collapse: collapse;
  border: 2px solid black;
}


.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  
}

/* Styling for black cells */
.black {
  background-color: #0a9754;
  color: white;
  position: relative;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center; */
  }

/* Styling for white cells */
.white {
  background-color: #fde9ad;
  color: black;
}

.cellLabel {
  font-size: 8px;
  position: absolute;
  top: 1px;
  left: 5px;
}
