.buttonWrap {
  display: flex;
  flex-direction: column;
}
 
button {
  width: 100%;
  padding: 10px;
  background-color: #c3c7a8;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 1%;
  cursor: pointer;
}

input {
  width:80%;
  padding: 10px;
  border: 1px solid #cdc1c1;
  /* border-radius: 5px; */
}

.joinGameContainer {
  display: flex;
  align-items: center;
  margin-top: 2px;
  gap: 2px;
}
